body {
    font-family: Trebuchet MS, sans-serif;
    background: #00398f;
  }
  h1 {
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
  }
  .line1 {
    border: 10px solid #f3ebeb94;
    width: 90%;
}
  .par{
    color: #FFF;
    text-align: justify;
  }
